*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #FFCCCC, #99FFFF);
    font-family: sans-serif;
}

.container{
    width: 500px;
    margin: 100px auto;
    background: white;
    padding: 12px 0;
    border-radius: 6px;
}

form{
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 20px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

form input{
    font-size: 25px;
    width: 80%;
    padding-right: 10px;
    border: none;
    outline: none;
}

form button{
    background: #40f1f1;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.todos{
    list-style: none;
}

.todos li{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}