@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, aqua,darkcyan );
    font-family: "Poppins";
}

.card{
    margin: 130px auto;
    width: 320px;
    height: 400px;
    background: #000;
    color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.card__heart, .card__cart{
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.card__cart{
    left: unset;
    right: 20px;
}

.card__img{
    width: 92%;
    transition: 0.5s;
}

.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*thu nhỏ ảnh nhưng vẫn giữ được HD*/
}

.card__title, .card__price{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: paleturquoise;
    transition: 0.5s;
}

.card__price{
    color: white;
}

.card__size, .card__color{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.card__size span{
    padding: 4px 10px;
    background: lightsteelblue;
    margin: 2px 5px;
    border-radius: 8px;
    color: #000;
}

.card__color span{
    width: 20px;
    height: 20px;
    border-radius: 60%;
    margin: 0 5px;
}

.card__color--white{
    background: white;
}

.card__color--red{
    background: red;
}

.card__color--blue{
    background: deepskyblue;
}

.card__action button{
    background: springgreen;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.card:hover .card__img{
    transform: translateY(-88px) rotate(-20deg);
}

.card:hover .card__title{
    transform: translate(-20px, -70px);
}

.card:hover .card__price{
    transform: translate(-111px, -70px);
}

.card__size{
    margin-top: 160px;
}

.card__size, .card__color,.card__action{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action{
    visibility: visible;
    opacity: 100;
}

.card:hover .card__size{
    margin-top: -10px;
}